<!--**FAVORITES-LIST**-->

<section id="favorites" class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>

    <ul class="favorite-list list link">
      <!--**1-CARD**-->

      <li class="favorites__photo">
        <img
          class="favorites__photo-img"
          srcset="
            ./images/favorites/01-gamburger__1x.jpg 1x,
            ./images/favorites/01-gamburger__2x.jpg 2x
          "
          src="./images/favorites/01-gamburger__1x.jpg"
          alt="фото блюда"
          width="223"
        />
      </li>

      <!--**2-CARD**-->

      <li class="favorites__photo">
        <img
          class="favorites__photo-img"
          srcset="
            ./images/favorites/02-pasta__1x.jpg 1x,
            ./images/favorites/02-pasta__2x.jpg 2x
          "
          src="./images/favorites/02-pasta__1x.jpg"
          alt="фото блюда"
          width="223"
        />
      </li>

      <!--**3-CARD**-->

      <li class="favorites__photo">
        <img
          class="favorites__photo-img"
          srcset="
            ./images/favorites/03-pizza__1x.jpg 1x,
            ./images/favorites/03-pizza__2x.jpg 2x
          "
          src="./images/favorites/03-pizza__1x.jpg"
          alt="фото блюда"
          width="223"
        />
      </li>

      <!--**4-CARD**-->

      <li class="favorites__photo">
        <img
          class="favorites__photo-img"
          srcset="
            ./images/favorites/04-chicken__1x.jpg 1x,
            ./images/favorites/04-chicken__2x.jpg 2x
          "
          src="./images/favorites/04-chicken__1x.jpg"
          alt="фото блюда"
          width="223"
        />
      </li>

      <!--**5-CARD**-->

      <li class="favorites__photo">
        <img
          class="favorites__photo-img"
          srcset="
            ./images/favorites/05-salat__1x.jpg 1x,
            ./images/favorites/05-salat__2x.jpg 2x
          "
          src="./images/favorites/05-salat__1x.jpg"
          alt="фото блюда"
          width="223"
        />
      </li>

      <!--**6-CARD**-->

      <li class="favorites__photo">
        <img
          class="favorites__photo-img"
          srcset="
            ./images/favorites/06-borshch__1x.jpg 1x,
            ./images/favorites/06-borshch__2x.jpg 2x
          "
          src="./images/favorites/06-borshch__1x.jpg"
          alt="фото блюда"
          width="223"
        />
      </li>
    </ul>
  </div>
</section>
