<footer class="footer ">
  <div class="container">
    <div class="footer-top-decktop">
      <div class="footer-top">
        <div class="logo-footer">
          <svg width="66" height="51" class="svg-logo">
            <use href="./images/icons.svg#logo"></use>
          </svg>
        </div>
        <ul class="nav-footer list">
          <li class="nav-footer__id">
            <a href="#header" class="link"> Home</a>
          </li>
          <li class="nav-footer__id">
            <a href="#offerings" class="link">Offerings</a>
          </li>
          <li class="nav-footer__id">
            <a href="#favorites" class="link">Favorites</a>
          </li>
          <li class="nav-footer__id">
            <a href="#customers-say" class="link">Customers</a>
          </li>
          <li class="nav-footer__id">
            <a href="#subscribe" class="link">Subscribe</a>
          </li>
        </ul>
      </div>
      <div class="footer-mailing">
        <h3 class="footer-subscribe-title">Subscribe</h3>
        <form class="footer-subscribe">
          <label>
            <input
              type="email"
              name="email"
              class="footer-subscribe__input-email"
              placeholder="Enter your email"
            />
          </label>
          <button
            type="submit"
            name="button"
            class="footer-subscribe__input-subscribe"
          >
            Subscribe
          </button>
        </form>
        <p class="footer-subscribe__title-agree">
          By subscribing you agree to with our
          <a href="#" class="footer-subscribe__agree-link">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-down">
      <ul class="footer__document-links list">
        <li class="footer__document-links__link">
          <a href="#">Privacy Policy</a>
        </li>
        <li class="footer__document-links__link">
          <a href="#">Terms of Service</a>
        </li>
        <li class="footer__document-links__link">
          <a href="">Cookies Settings</a>
        </li>
      </ul>
      <div class="footer-time">
        <p class="footer-time__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
