<section class="container hero" id="hero">
  <div class="hero__text-wraper">
    <h1 class="hero__header">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button" class="hero__button" data-modal-nepo>
      Order Now
    </button>
  </div>
   <div class="hero__slider-wrapper">
        <div class="hero__slider">
                <picture class="hero__slider__item">
                    <source srcset="./images/hero/desktop-food-foto-one-1x.jpg 1x,
                                    ./images/hero/desktop-food-foto-one-2x.jpg 2x"
                            media="(min-width: 1280px)">
                    <source srcset="./images/hero/tablet-food-foto-one-1x.jpg 1x,
                                    ./images/hero/tablet-food-foto-one-2x.jpg 2x"
                            media="(min-width: 768px)">
                    <img src="./images/hero/desktop-food-foto-one-1x.jpg" alt="meatballs with scrambled eggs">
                </picture>
                <picture class="hero__slider__item">
                    <source srcset="./images/hero/desktop-food-foto-two-1x.jpg 1x,
                                    ./images/hero/desktop-food-foto-two-2x.jpg 2x"
                            media="(min-width: 1280px)">
                    <source srcset="
                                    ./images/hero/tablet-food-foto-two-1x.jpg 1x,
                                    ./images/hero/tablet-food-foto-two-2x.jpg 2x"
                            media="(min-width: 768px)">
                    <img src="./images/hero/desktop-food-foto-two-1x.jpg" alt="Greek salad">
                </picture>
                <picture class="hero__slider__item">
                    <source srcset="./images/hero/desktop-food-foto-three-1x.jpg 1x,
                                    ./images/hero/desktop-food-foto-three-2x.jpg 2x"
                            media="(min-width: 1280px)">
                    <source srcset="./images/hero/tablet-food-foto-three-1x.jpg 1x,
                                    ./images/hero/tablet-food-foto-three-2x.jpg 2x"
                            media="(min-width: 768px)">
                    <img src="./images/hero/desktop-food-foto-three-1x.jpg" alt="Greek salad">
                </picture>
        </div>
    </div>
  </div>
</section>
