.scroll-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  transform: translate(50%, 50%) rotate(-90deg);
  padding: 5;
  background-color: $scroll-btn;
  border: none;
  border-radius: 50%;
  fill: $text-color;
  transition: fill 250ms linear;
}

.scroll-btn:hover,
.scroll-btn:focus {
  fill: $secondary-accent-color;
}
